.roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
}

/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 300 to 900 */

.merienda {
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 900;
    font-style: normal;
}

